
@{
    ViewBag.Title = "Register";
}

<form action="/action_page.php">
    First name:
    <input type="text" name="firstname">
    <br /><br />
    Last name:
    <input type="text" name="lastname">
    <br /><br />
    Email:
    <input type="email" name="email">
    <br /><br />
    Phone:
    <input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"required />
    <br /><br />
    Password:
    <input type="password" name="password">
    <br/><br/>
    <a href="/Home/ThankYou">Submit</a>
</form>

